d>
	<title>CourseSubjects</title>
	</head>
	<style>
		#picdiv{
			background-image:url('/home/bvrith/Downloads/bg.jpg');
			background-color: #cccccc;
			width:100%;
			height:20%;
			margin-left:auto;
			margin-right:auto;
		}
		#left{
			background-image:url('/home/bvrith/Downloads/bg.jpg');
			background-color: #cccccc;
			height: 1000px;
			float: left;
			width: 10%;
		}

		#right{
			background-image:url('/home/bvrith/Downloads/bg.jpg');
			background-color: #cccccc;
			height: 1000px;
			float: right;
			width: 10%;
		}
		
		h4{
			text-align:center;
			position:relative;
			z-index:2;
			font-family:"Impact", Charcoal, sans-serif;
		}
		
		.text{
		  padding-top:80px;
		}
		a:link {
			background-color:white;
		}
		.content {
			margin:20px auto 20px auto;
			width: 910;
		}
		.header {
			margin: 0 auto;
			padding-top: 30px;
			padding-left: 50px;
			width:125px;
			height: 60px;
		}
		.sidebar {
			width: 125px;
			height:650px;
			float: left;
			text-align: left;
			padding: 10px;
			font-size: 16px;
			margin-top: 6px;
		}
		.section special {
			
			
			float: right;
			text-align: right;
			padding:10px
			font-size: 16px;
			margin-top: 30px;
		}
		
	</style>
	<body>
		<div id = "picdiv">
		</div>
		<div id = "left">
		</div>
		<div id  = "right">
		</div>
		<div class="header"><h4><u>COURSESUBJECTS FLASHCARDS</u></h4></div>
		<div class ="content">
		<div class="sidebar">
		<br>
		<br>
		<table width = "12%" >
		 <tr>
			<td class = "text"><a href = "/home/bvrit/Education.html" target = "self">Education</a></td>
		</tr>
		<tr>
			<td class = "text"><a href = "/home/bvrit/Downloads/Computer.html" target = "self">Computers</a></td>
		</tr>
		<tr>
			<td class = "text"><a href = "/home/bvrit/Downloads/CommonCore.html" target = "self">Common Core</a></td>
		</tr>
		<tr>
			<td class = "text"><a href = "/home/bvrit/Careers.html" target = "self">Careers</a></td>
		</tr>
		<tr>
			<td class = "text"><a href = "/home/bvrit/CourseSubjects.html" target = "self">Course Subjects</a></td>
		</tr>
		<tr>
			<td class = "text"><a href = "/home/bvrit/CreateFlashCards.html" target = "self">Create FlashCards</a></td>
		</tr>
		</table>
		
		</div>
		<div class = "section special">
		<table  width = "35%" align = "center">
		<tr>
		<td class = "text"><a href = "" target = "self">Algebra</a></td>
		<td class = "text"><a href = "" target = "self">Calculus</a></td>
		<td class = "text"><a href = "" target = "self">English</a></td>
		<td class = "text"><a href = "" target = "self">Geography</a></td>
		</tr>
		<tr>
		<td class = "text"><a href = "" target = "self">Music</a></td>
		<td class = "text"><a href = "" target = "self">Periodic Table</a></td>
		<td class = "text"><a href = "" target = "self">Physics</a></td>
		<td class = "text"><a href = "" target = "self">Psychology</a></td>
		</tr>
		<tr>
		<td class = "text"><a href = "" target = "self">Science</a></td>
		<td class = "text"><a href = "" target = "self">Social Studies</a></td>
		<td class = "text"><a href = "" target = "self">Trigonometry</a></td>
		<td class = "text"><a href = "" target = "self">Geometry</a></td>
		</tr>
		</table>
		<br><br><br><br>
		<font color = "green">&nbsp &nbsp &nbsp &nbsp Select one of the following for the flashcards..........</font>
		</div>
		
	</body>
</html>

