d>
		<title>FlashCards</title>
	</head>
	<style>
		#picdiv{
			background-image:url('/home/bvrith/Downloads/bg.jpg');
			background-color: #cccccc;
			width:100%;
			height:20%;
			margin-left:auto;
			margin-right:auto;
		}
		#left{
			background-image:url('/home/bvrith/Downloads/bg.jpg');
			background-color: #cccccc;
			height: 1000px;
			float: left;
			width: 10%;
		}

		#right{
			background-image:url('/home/bvrith/Downloads/bg.jpg');
			background-color: #cccccc;
			height: 1000px;
			float: right;
			width: 10%;
		}
		.line-center{
			background:#fff;
			display:inline-block;
		}
		h3{
			text-align:center;
			position:relative;
			z-index:2;
			font-family:"Impact", Charcoal, sans-serif;
		}
		h3:after{
			content:"";
			position:absolute;
			top:50%;
			left:20%;
			right:20%;
			border-top:solid 1px black;
			z-index:-1;
		}
		.cat {
			height:75px;
			width:75px;
			padding-top:70px;
			padding-left:220px;
		}
		#CreateFC{
			padding-left:310px;
		}
		.text{
		  padding-top:65px;
		}
		#fcbutton{
			padding-top:60px;
		}
	</style>
	<body>
		<div id = "picdiv">
		</div>
		<div id = "left">
		</div>
		<div id  = "right">
		</div>
		<div id="main">
		<br>
		<h3><span  class="line-center">&nbsp BROWSE BY CATEGORY &nbsp </span></h3>
		<table>
		 <tr>
			<td><img class ="cat" src="/home/bvrith/Desktop/flashcardhomepage/computer.jpg"></td>
			<td class="text"><a href = "/home/bvrith/Downloads/Computer.html" target = "self">Computers</a></td>
			<td><img  class="cat" src="/home/bvrith/Desktop/flashcardhomepage/exam.jpeg"></td>
			<td class="text"><a href = "/home/bvrith/Downloads/Exams.html" target = "self">Exams</a></td>
		 </tr>
		 <tr>
			<td><img class="cat" src="/home/bvrith/Desktop/flashcardhomepage/education.jpg"></td>
			<td class="text"><a href = "/home/bvrith/Downloads/Education.html" target = "self">Education</a></td>
			<td><img  class="cat" src="/home/bvrith/Desktop/flashcardhomepage/commoncore.jpeg"></td>
			<td class="text"><a href = "/home/bvrith/Downloads/CommonCore.html" target = "self">Common Core</a></td>
		</tr>
		<tr>
			<td><img class ="cat" src="/home/bvrith/Desktop/flashcardhomepage/career.jpeg"></td>
			<td class="text"><a href = "/home/bvrith/Downloads/Careers.html" target = "self">Careers</a></td>
			<td><img  class="cat" src="/home/bvrith/Desktop/flashcardhomepage/subj.jpeg"></td>
			<td class="text"><a href = "/home/bvrith/Downloads/CourseSubjects.html" target = "self">Course subjects</a></td>
		</tr>
		</table>
		<br><br><br><br>
		<table>
			<tr>
				<td><img id="CreateFC" src="/home/bvrith/Desktop/flashcardhomepage/createfc.jpg"></td>
				<td id ="fcbutton"><button type="button" onclick="alert('Hello world!')">Create Flashcards</button></td>
			</tr>
		</div>
	</body>
</html>

